<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <!-- 实体类所在包 -->
        <package name="com.keke.domain"/>
    </typeAliases>
    <mappers>
        <package name="com.keke.dao"/>
    </mappers>
</configuration>